*{
  margin: 0;
  padding: 0;
}

body{
  line-height: 1.4;
  letter-spacing: 1.4;
  background-color: #f2f2f2;
  color: #fff;
  font-family: lato, Helvetica, sans-serif;
  font-size: 17px;
}

.item-0{
  color: #919191;
  margin-top: 1.5em;
  font-size: 3em;
  position: relative;
}

.item-0 h3{
  font-size: 17px;
}

.item-0::after{
  content: " ";
  position: absolute;
  top: 60%;
  left: 49%;
  height: 1px;
  width: 30px;
  background: #b14c5a;
}

/* NAV */

nav{
  background-color: #fff ;
  height: 56px;
  position: fixed;
  width: 100vw;
  top: 0;
  box-shadow: 0px 1px 5px black;
  z-index: 3;
}

.nav-wrapper ul a{
  text-decoration: none;
  color: #b14c5a;
}

.nav-wrapper li:hover{
  border-bottom: #b14c5a solid 3px;
}

.fa-bars{
  color: #b14c5a;
}

/* Prima Sectiune - 'Big image' - */

.bigImage{
  background: linear-gradient(to right,
   rgba(44, 62, 80, 0.6),
   rgba(177, 76, 90, 0.6)),
   url(../Images/mountain.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
}

.profile-pic{
  height: auto;
  width: 200px;
  border-radius: 50%;

}

#myName{
  color:#fff;
  font-size: 4em;
}

.mySelf{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.mySelf p{
  padding: 25px 5px 5px 5px;
}

.socialMedia a {
 font-size: 1.5em;
 margin: 3px;
}

.socialMedia a:link{
  color: #fff;
}

/* #item1{
  margin-right: 20px;

} */

.about-me-buttons{
  display:grid;
  grid-gap: 1vw;
  grid-template-columns: 1fr 1fr;
}

.contact-button{
  justify-self: end;
}

.github-button{
  justify-self: start;
}



.button1 button{
  margin-top: 50px;
 background-color: antiquewhite;
 border: none;
 padding: 10px 20px;
 border-radius: 20px;
 color: darkslategrey;
 box-shadow: 0px 3px 5px black;
}

.button1 button:hover{
  background-color: #b14c5a;
  color: antiquewhite;
  transition: 0.7s;
}


/* Sectiunea main */

.main{
  color:black;
}

.container-card {
  display: grid;
  align-items: center;
  margin-top: 20vh;
  justify-content: center;
  grid-template-areas: 
   "cardTitlu cardDetalii";
  grid-template-columns: 1fr 2fr;
}



.cardDetalii{
  grid-area: cardDetalii;
}

.cardTitlu{
  grid-area: cardTitlu;
}


.cardTitlu {
  background-color: #b14c5a;
  display: grid;
  justify-self: end;
  align-items: center;
  text-align: center;
  width: 20vw;
  height: 70vh;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.25);
  z-index: 2;
}


.cardTitlu p{
  color: #fff;
  letter-spacing: 1px;
  position: relative;
  font-size: 22px;
}

.cardTitlu p::after{
  content: " ";
  position: absolute;
  top: 130%;
  left: 14vw;
  height: 1px;
  width: 35px;
  background: #fff;
  z-index: 2;
}

.cardDetalii {
  background-color: white;
  display: grid;
  align-items: center;
  color: #919191;
  text-align: center;
  width: 53vw;
  min-height: 60vh;
  box-shadow: 5px 0 4px rgba(0, 0, 0, 0.30);
}

.cardDetalii p{
  padding: 2em;
}


/* Sectiunea A - Skills */

.container-grid{
  color: black;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 1em;
}

.item{
  text-align: center;
  padding: 2em;  
  width: auto;
}

.item h4{
  margin: 1em 0;
  color: #b14c5a;
  font-weight: lighter;
  font-size: 17px;
}

.item p{
  color: #919191;
  padding: 0 5px 0 5px;
}

.item li{
  color: #919191;
}

.item-1 ul{
  list-style: none;
}

/* Projects */

.container-projects{
  display: grid;
  grid-template-columns: 1fr fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas: 
   "descriere-viitor proiect-viitor"
   "proiect-1      descriere-1"
   "descriere-2      proiect-2"
   "proiect-3      descriere-3"
   "descriere-4      proiect-4"
}

.project-1{
  grid-area: proiect-1;
}

.descriere-1 {
  grid-area: descriere-1;
}

.descriere-2 {
  grid-area: descriere-2;
}

.project-2 {
  grid-area: proiect-2;
}

.project-3 {
  grid-area: proiect-3;
}

.descriere-3 {
  grid-area: descriere-3;
}

.descriere-4 {
  grid-area: descriere-4;
}

.project-4 {
  grid-area: proiect-4 ;
}

.project-viitor{
  grid-area: proiect-viitor;
}

.descriere-viitor {
  grid-area: descriere-viitor;
}



.project{
  color: #919191;
  padding: 20px;
  text-align: center;
  margin-bottom: 90px;
  align-self: center;
}

.projects img{
  width: 100%;
  /* box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.30); */
  filter: drop-shadow(3px 3px 10px #000);
}

.project p{
  margin-bottom: 20px;
  padding-top: 20px;
}

.details-btn{
  display: grid;
  justify-content: center;
}

.btn-2{
  margin: 5px;
  background-color: #f4f4f4;
  border: #b14c5a 1px solid;
  border-radius: 10px; 
  padding: 10px;
  color: #b14c5a;
}

.btn-2-disabled{
  margin: 5px;
  background-color: #b1b1b1;
  border: #777777 1px solid;
  border-radius: 10px; 
  padding: 10px;
  color: #f4f4f4;
}

.btn-2-disabled:hover{
  background-color: #b1b1b1;
}

.btn-2:hover{
 background-color: #b14c5a;
 color: #f4f4f4;
 transition: 0.5s;
 border: #f4f4f4 1px solid;
}

.usedTech{
  color: #b14c5a;
  margin-top: 5px;
}

  /* Certificari Gallery */

 .cerificari{
  padding: 2em;
  display:grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-template-rows: 1fr;
  grid-gap: 2em;
  height:auto;
  justify-items: center;
  filter: drop-shadow(3px 3px 10px #000);
  }

.itemGallery {
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.itemGallery img {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemGallery__overlay {
  background: #ffc60032;
  grid-column: 1 / -1;
  grid-row: 1 / -1;
  position: relative;
  display: grid;
  justify-items: center;
  align-items: center;
  transition: 0.2s;
  transform: translateY(100%);
}

.itemGallery__overlay button {
  background: none;
  border: 2px solid white;
  color: white;
  text-transform: uppercase;
  background: rgba(0, 0, 0, 0.7);
  padding: 5px;
}

.itemGallery:hover .itemGallery__overlay {
  transform: translateY(0);
}

.overlay {
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  z-index: 2;
}

.overlay.open {
  display: grid;
  align-items: center;
  justify-items: center;
}

.overlay-inner {
  background: white;
  width: 700px;
  padding: 20px;
}

.overlay img {
  width: 100%;
}

.close {
  background: none;
  color: black;
  border: 0;
}



/* Contact */

.container-contact{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px 1fr));
  background-color: #b14c5a;
  padding: 10px;
}

.contact .adress p{
  color: #fff ;
  font-style: italic;
}

.contact .item-0 h3{
  color: #f4f4f4;
}

.contact .item-0{
  margin: 0;
  /* padding: ; */
}

.contact h4{
  color: #fff;
  font-size: 1.3em;
}

.item-resume{
  width: 100vw;
  display: grid;
  justify-items: center;
  align-items: center;
}

#resume{
  font-size: 40px;
  font-size: 20px;
  border: 1px solid #f4f4f4;
  padding: 10px 30px;
  border-radius: 25px;
  margin-top: 50px;
  color: #b14c5a;
}



#resume:hover{
  background-color: #f4f4f4;
  color: #b14c5a;
  transition:0.5s;
}

.item-contact{
  background-color: #b14c5a;
}

.item-contact .item-0::after{
    content: " ";
    position: absolute;
    top: 60%;
    left: 49%;
    height: 1px;
    width: 30px;
    background: #fff;
  }

  .item-adress{
    padding-top: 5vh;
    justify-self: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10vw;
  }

  /* Footer */

  .footer{
    color: #b14c5a;
    display: grid;
    align-items: center;
    height: 10vh;
    text-align: center;
  }

  .footer p{
    padding: 10px;
  }


  /* Media queries */

  /* Media for the projects area */
@media (max-width: 700px){

  .container-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
    grid-template-areas: 
      "proiect-viitor"
      "descriere-viitor"
     "proiect-1"  
     "descriere-1"
     "proiect-2"
     "descriere-2"
     "proiect-3"
     "descriere-3"
     "proiect-4"
     "descriere-4"
  }

}

/* Media for the About Me area and the padding for the Skills area at the bottom */

@media (max-width: 700px){
  .container-card {
    display: grid;
    align-items: center;
    margin-top: 10vh;
    justify-content: center;
    grid-template-areas: 
     "cardTitlu" 
     "cardDetalii";
  }


  .cardTitlu {
    height: 20vh;
    width: 100vw;

  }
  .cardDetalii{ 
    height: auto;
    font-size: 14px;
    min-width: 80vw;
    justify-self: center;
  }

  .cardDetalii p{
    margin-top: 10vh;
  }

  .container-grid > .item{
    padding: 2em 0 2em 0;
    width: 100vw;
  }


  .item-adress{
    
    grid-template-columns: 1fr;
    
  }
}


/* Media for the Name and pic area*/

@media (max-width: 700px){
  .main-details{
    margin-top: 15vh;
  }

  #myName{
    font-size: medium;
  }

  .button1{
    size: 20px;
  }

  .contact-button{
    justify-self: center;
  }
  
  .contact-button button{

    margin-top:10px;
  }

  .github-button button{
    margin-top:1px;
    
  }

  .about-me-buttons{
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
  }

  .detailsParagraf{
    font-size: small;
  }
  
}